*{
    font-family: sans-serif,serif, Arial;
    background-color: #0d1a2e;
    color: #cad3e0;

}

h1, h2, h3{
    text-align: center; 
}

#buddhabowl{
    height: auto;
    width: 300px;

    border-radius: 10px;
    border: 2px solid #3a4759;

    display: block;
    margin: auto;
}


